<div class="course-detail-page" *ngIf="course$ | async as course; else loadingOrError">
  <section class="course-hero-section" [style.background-image]="'url(' + course.imageUrl + ')'">
    <div class="hero-overlay"></div>
    <div class="container hero-content">
      <h1>{{ course.title }}</h1>
      <p class="tagline" *ngIf="course.tagline">{{ course.tagline }}</p>
    </div>
  </section>
  <div class="course-content-wrapper container">
    <aside class="sidebar-content">
      <div #priceActionBar class="price-action-bar">
        <div class="price">
          <span class="current-price">{{ course.price.toFixed(2) }}₴</span>
        </div>
        <button class="btn btn-primary btn-buy" (click)="openPaymentModal()">Купити курс</button>
      </div>
    </aside>

    <div class="main-content">
      <section class="course-section description-section">
        <h2>Про курс</h2>
        <div [innerHTML]="course.description | replaceLineBreaks"></div>
        <div *ngIf="course.longDescription" [innerHTML]="course.longDescription | replaceLineBreaks" class="long-description"></div>
      </section>

      <section class="course-section start-info-section">
        <p><strong>Старт одразу після оплати</strong></p>
      </section>

      <section class="course-section additional-image-section" *ngIf="course.additionalImage">
        <div class="additional-image-container">
          <img [src]="course.additionalImage.imageUrl" [alt]="course.additionalImage.caption || course.title" class="additional-image">
          <h3 class="caption" *ngIf="course.additionalImage.caption">{{ course.additionalImage.caption }}</h3>
        </div>
        <div class="additional-image-description">
          <h3 class="additional-image-description-tag">{{course.additionalImage.descriptionTag}}</h3>
          <div  [innerHTML]="course.additionalImage.descriptionText | replaceLineBreaks"></div>
        </div>
      </section>

      <section class="course-section detail-blocks-section" *ngIf="course.detailBlocks && course.detailBlocks.length > 0">
        <h2 class="detail-blocks-section-title">Курс підходить для батьків які:</h2>
        <div class="detail-block-item" *ngFor="let block of course.detailBlocks">
          <div class="detail-block-image-container">
            <img [src]="block.imageUrl" [alt]="block.title || 'Деталь курсу'" class="detail-block-image">
          </div>
          <div class="detail-block-text-container">
            <h3 *ngIf="block.title">{{ block.title }}</h3>
            <p [innerHTML]="block.text | replaceLineBreaks"></p>
          </div>
        </div>
      </section>

      <section class="course-section text-blocks-section">

        <div class="target-audience-content" *ngIf="course.targetAudience">
          <img *ngIf="course.targetAudience.iconBefore" [src]="course.targetAudience.iconBefore" alt="Іконка" class="target-audience-icon icon-img icon-before">
          <div [innerHTML]="course.targetAudience.text | replaceLineBreaks"></div>
        </div>

        <div class="text-block" *ngIf="course.learningOutcomes && course.learningOutcomes.length > 0">
          <div class="icon-container" *ngIf="course.learningOutcomesIconUrl">
            <img [src]="course.learningOutcomesIconUrl" alt="Іконка Застережень" class="icon-img info-icon">
          </div>
          <h2>Застереження та протипоказання до виконання вправ:</h2>
          <ul class="custom-list-icons">
            <li *ngFor="let outcome of course.learningOutcomes">{{ outcome }}</li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>

<app-payment-modal
  [isVisible]="showPaymentModal"
  [courseToBuy]="currentCourse"
  (closeModalEvent)="handleCloseModal()"
  (paymentSuccessfulEvent)="handlePaymentSuccess($event)">
</app-payment-modal>

<ng-template #loadingOrError>
  <div class="container text-center" style="padding: 50px 0;">
    <p>Завантаження даних курсу або курс не знайдено...</p>
    <a routerLink="/courses" class="btn btn-secondary">Повернутися до курсів</a>
  </div>
</ng-template>


