<div class="course-card card" *ngIf="course">
  <img [src]="course.imageUrl" [alt]="course.title" class="course-image">
  <div class="course-content">
    <h3 class="course-title">{{ course.title }}</h3>
    <p class="course-tagline">{{ course.tagline }}</p>
    <div class="course-meta">
      <span>Автор: {{ course.instructor }}</span>
      <span>{{ course.countOfVideos }} Відео уроків</span>
    </div>
    <div class="course-price-action">
      <span class="course-price">${{ course.price.toFixed(2) }}</span>
      <!-- If you want this to navigate, you'll need RouterLink imported -->
      <a [routerLink]="['/course', course.slug]" (click)="console.log(course)" class="btn btn-primary">Детальніше</a>
<!--      <button class="btn btn-primary">Детальніше</button>-->
    </div>
  </div>
</div>
