
<footer class="app-footer">
  <div class="container footer-content">
    <div class="footer-column about-column">
      <h3 class="footer-logo" routerLink="/">МамКурси</h3>
      <div class="social-icons">
        <a href="https://facebook.com" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://instagram.com" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://telegram.com" aria-label="Twitter" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-telegram"></i>
        </a>
      </div>
    </div>

    <div class="footer-column links-column">
      <h4>Швидкі посилання</h4>
      <ul>
        <li><a routerLink="/">Головна</a></li>
        <li><a routerLink="/courses">Курси</a></li>
      </ul>
    </div>

    <div class="footer-column contact-column">
      <h4>Зв'яжіться з нами</h4>
      <p>Електронна пошта: <a href="mailto:olgaor994@gmail.com">olgaor994&#64;gmail.com</a></p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>© {{ currentYear }} МамаКурси. Всі права захищено. |
        <a href="assets/documents/privacy-policy.pdf">Політика конфіденційності</a> |
        <a href="assets/documents/public-offer.pdf" target="_blank" rel="noopener noreferrer">Публічна оферта</a>
      </p>
    </div>
  </div>
</footer>
